h1 {
  color: aqua;
}

body {
  color: white;
  background-color: black;
}

table {
  border-spacing: 10px;
}

div {
  color: purple;
}

button {
  /* background-color: aqua;
  border: 0;
  padding: 0;
  margin: 0; */
}
